/* standart configs - Begin */

@import '../components/Variables.css';

#__next {
  display: flex;
  flex-direction: column;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, h1, h2, h3, h4, h5, h6, p {
  display: flex;
  padding: 0;
  margin: 0;
}

body {
  flex-direction: column;
}

body, input, textarea, button {
  font: var(--font-config);
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
}

[data-animate] {
  opacity: 0;
}

[data-animate="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-animate="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-animate="top"] {
  transform: translate3d(0px, -50px, 0);
}

[data-animate="bottom"] {
  transform: translate3d(0px, 50px, 0);
}

.animate {
  transition: all 1s;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* standart configs - Begin */



